
/* My Styles */
body{
background-color: rgb(224, 237, 241);
}

.navbar{
  border: 1px solid rgb(19, 47, 43);
  background-color: rgb(24, 78, 24);
}

svg{
  width:100%;
}

.box-container{
  background-color: white;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 4px solid white;
  border-left-color: green;
  width: 100%;
  box-shadow:1px 1px 2px 3px #ccc; 
}

.image-container{
  margin-left: 30px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.company-name{
  color: rgb(4, 155, 147);
  margin-right: 20px;
  padding-left: auto;
  justify-content: flex-start;
}

.new-job{
  color: white;
  background-color: rgb(11, 177, 108);
  height: fit-content;
  padding: 0 5px;
  border-radius:50px;
  margin-right: 10px;
}
.featured{
  color:white;
  background-color: rgb(187, 73, 73);
  height: fit-content;
  border-radius: 50px;
  padding: 1px 5px;
  font-size: 15px;
}

.job-detail{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.job-detail-topline{
  margin-top: 20px;
}

.job-level{
  padding:5px 0;
  display: flex;
  font-weight: bolder;
}
.posted{
  margin-right: 15px;
}
.job-detail-bottomline{
display: flex;
flex-direction: row;
}
.contract{
  margin-right: 15px;
  display: list-item;          /* This has to be "list-item"                                               */
  list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
  list-style-position: inside;
}
.location{
  display: list-item;          /* This has to be "list-item"                                               */
  list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
  list-style-position: inside;
}
.info{
  display: inline-flex;
  align-items: center;
  margin-left: 180px;
  justify-content: space-between;
}
.languages{
  display: flex;
}

.feature-style{
  color: white;
  background-color:rgb(78, 156, 25);
  border-radius: 8px;
  margin-right: 10px;
  margin-left: auto;
  height: fit-content;
  padding: 3px 5px;
  font-weight: bold;
}

@media(max-width:1200px){
  .image-container{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .info{
    display: flex;
    margin-left: auto;
    width: max-content;
    margin-right: 0;
    font-size: 12px;
    justify-content: flex-start;
    margin-top: 1px;
  }
  .box-container{
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
 .contract,.location{
   display: inline-flex;
 }
 .feature-style{
  font-weight:normal;
 }
 .posted{
   display: inline-flex;
 }
}